appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
BeautifulSoup==3.2.1
certifi==2018.4.16
chardet==3.0.4
decorator==4.1.2
docker==3.5.0
docker-pycreds==0.3.0
enum34==1.1.6
idna==2.6
ipaddress==1.0.22
ipython==5.5.0
ipython-genutils==0.2.0
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
powerline-status==2.7.dev9999+git.393ff7119fec64e201abfd2b251b402c7a533b09
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pytz==2018.4
scandir==1.5
selenium==3.11.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
websocket-client==0.53.0
yelpapi==2.2.2
